<h1>HTML Form</h1>

<form accept-charset="UTF-8" action="/users" method="post">
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Username
  <input name="user[name]" type="text" placeholder="Username" />
  </label>
  <br><br>
  <label>Email
  <input name="user[email]" type="text" placeholder="Email" />
  </label>
  <br><br>
  <label>Password
  <input name="user[password]" type="password" placeholder="Password" />
  </label>
  <br><br>
  <input name="submit" type="submit" value="Submit">
</form>

